Repository lab-brussels-1/The-first-group, pull requests merged in 2022-03, with the labels that each got.

#2 Adding new branch and a user-personas.md
  planning/user-personas.md
Labels: enhancement

#3 Added backlog.md
  planning/backlog.md
Labels: enhancement

#4 Update material files
  planning/design.md
  planning/development-strategy.md
  planning/user-personas.md
  planning/wireframe.svg
Labels: documentation

#5 Updated material files
  planning/communication-plan.md
  planning/constraints.md
  planning/retrospective.md
Labels: documentation

#8 Readme editing
  README.md
  public/2021-01-22-cell-trees-nl.webp
Labels: documentation, planning

#10 Minju communication plan PR
  package-lock.json
  planning/communication-plan.md
Labels: planning, communication

#11 Updated Maria's availability
  planning/communication-plan.md
Labels: planning, communication

#16 Planning readme edition
  planning/README.md
Labels: planning, communication

#19 carsiti-comunication-plan
  planning/communication-plan.md
Labels: planning, communication

#22 zerubabel4 Update user-personas.md
  planning/communication-plan.md
  planning/user-personas.md
Labels: planning, communication

#25 Updated user personas
  planning/user-personas.md
Labels: planning, user_personas

#30 Updated Backlog.md
  planning/backlog.md
Labels: planning, backlog

#32 Carsiticonstrain2
  planning/constraints.md
Labels: planning, constrains

#35 Minju User-persona updated PR
  planning/user-personas.md
Labels: planning, user_personas

#38 Update planning/README.md
  planning/README.md
Labels: communication

#39 Finished planning/backlog.md
  planning/backlog.md
Labels: planning, communication

#40 Zerubabel design.md
  planning/design.md
  public/tree.webp
Labels: planning, communication

#45 Title
  index.html
  styles/something.css
Labels: development, html, css

#48 Added image
  assets/happy-tree.jpg
Labels: development, Title

#49 Zerubabel design.md
  planning/design.md
  public/treesdesigen.webp
Labels: planning, communication, design

#43 Minju development-strategy PR
  planning/development-strategy.md
  planning/user-personas.md
Labels: planning, development strategy

#51 Update for planning/user-personas.md
  planning/user-personas.md
Labels: planning, user_personas

#53 Update for planning/communication-plan.md
  planning/communication-plan.md
Labels: planning, communication

#57 Maria retrospective
  planning/retrospective.md
Labels: communication, retrospective

#60 Minjufooter
  index.html
  styles/something.css
Labels: development, html, css

#65 Update something.css
  styles/something.css
Labels: bug

#64 Minjuupdate
  index.html
  planning/development-strategy.md
  styles/something.css
Labels: planning, development strategy

#67 Revert "Minjuupdate"
  index.html
  planning/development-strategy.md
  styles/something.css
Labels: development strategy, development

#66 Maria update readme
  README.md
Labels: enhancement, communication

#68 Added css for intro
  styles/something.css
Labels: development, css

#69 Minjuupdate
  index.html
Labels: planning, development

#70 file updated
  planning/development-strategy.md
Labels: planning, development strategy

#73 Review correction
  index.html
  planning/development-strategy.md
  styles/something.css
Labels: bug, planning, development strategy

#74 image added from assets folder
  index.html
Labels: html, css, images

#78 Zerubabel design2: design update
  planning/design.md
  public/tree-design.png
Labels: design
